.form-group{
    margin: 10px 0px;
}

label{
    font-size: 16px;
    margin-right: 10px;
    width: 80px;
    display: inline-block;
}

input{
    padding: 7px 15px;
}

.submit-btn {
    font-size:16px;
}