* {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.directory-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-gap: 20px;
}

.item {
  background-color: #f7a1a1;
  padding: 50px 10px;
}

.preview_items {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 8px 20px;
  border: none;
  background: #9e9e9e;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.menu {
  li {
    display: inline-block;
    margin: 0px 10px;
  }
}

.header {
  padding: 30px;
  font-size: 20px;
}

.cart-wrapper {
  display: inline-block;
  position: relative;
}

.cart-box {
  position: absolute;
  right: 0px;
  width: 500px;
  height: auto;
  background-color: #9e9e9e;
}
