* {
  margin: 0px;
  padding: 0px;
}

img{
  max-width: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.homepage {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.menu-item .content {
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.menu-item .content:hover {
  cursor: pointer;
}
.logo a {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}

.menu {
  margin-left: auto;
}

.menu a, .menu span {
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
}

.sing-in-wrapper {
  margin-top: 50px;
}

.sign-in-left {

  .google-signin-btn {
    margin-top: 20px;
  }

  .signin-btn {
    margin-top: 20px;
  }
}

.cart-icon {
  border: 1px solid #fff;
  margin:0px;
  padding: 0px 10px;
}

.drop-down-area{
  position: absolute;
    top: 64px;
    width: 300px;
    height: 400px;
    background: #fff;
    border:1px solid #000;
    right: 30px;
    overflow-y: scroll;
    z-index: 2;
}


.drop-down-area{
  .dropdown_item {
    img{
      width: 90px;
      height: 90px;
    }
  }
}

.dropdown_item{
  padding: 10px;
  display: flex;
}

.dropdown_item-right{
  color: #000;
  padding-left: 10px;
}

.dropdwon_btn{
  width: 100%;
  padding: 10px 0px;
  border-radius: 0px;
  position: absolute !important;
  bottom: 0px !important;
}

.cart-empty-message{
  color: red !important;
    display: flex;
    display: block;
    margin: 30px auto;
    font-size: 20px;
    text-align: center;
}


.checkout{
  margin-top: 50px;
}


.checkout_area{
  max-width: 70%;
    margin: 0 auto;
    margin-top: 80px;
}

.checkout_header{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
  padding-bottom: 10px;
  span{
    max-width: 20%;
    flex: 1;
  }
}

.cart_items{
  display: flex;
  justify-content: space-between;
  span{
    max-width: 20%;
    flex: 1;
  }
  img{
    flex: 1;
    width: 100px;
  }
}

.checkout_footer {
  margin-top: 30px;
  border-top: 2px solid #000;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 h1{
   margin-right: 20px;
 }
 h3{
   font-size: 30px;
 }

}